*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.Ad{
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 100.9%;
    color:rgba(255, 255, 255, 1);
    

}

.contAd{
    width: 270px;
    height: 266px;
    background-image:  url('https://i83.servimg.com/u/f83/20/31/79/72/image_12.png');
    display: flex;
    align-items: center;
    justify-content: center;
}