@import url('https://fonts.googleapis.com/css2?family=Lato&family=Playfair+Display&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
footer {
    width: 100%;
    height: 291px;
    position: absolute;
    bottom: 0;
    display: grid;
    grid-template-rows: 1fr 1fr ;
    align-items: center;
    font-size: 13px;
    background-color: #f2f2f2;
    border-top: 1px solid #e4e4e4;
}

footer .footer-top {
    display: flex;
    flex-direction: row;

}

footer .footer-top .footer-top__card {
    margin: 100px;
}

footer .footer-top .footer-top__card h1{
    color: #2D2D2D;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-style: normal;
    font-size: 24px;
    line-height: 100.9%;
    
}



footer .footer-bottom {
    position: absolute;
    bottom: 0;
    height: 63px;
    width: 100%;
    color: #e4e4e4;
    background-color: #2D2D2D;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

footer .footer-bottom .copyright{
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .footer-bottom img {
    margin :9px;
    width: 24px;
    height: 24px;
}

footer .footer-bottom p {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-style: normal;
    line-height: 100.9%;
}



