*{
    /* border: 1px solid red; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hero_container{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('https://i83.servimg.com/u/f83/20/31/79/72/backgr10.jpg');
    background-position: center;
    background-size: 1440px 636px;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 1440px;
    height: 832px;
    margin-top: 35px;
}

.menu{
    display: flex;
    flex-direction: row;
    font-size: 20px;
    align-items: center;
    justify-content: space-between;
    width: 1170px;
    height: 38px;
    
}

.logoCont{
    display: flex;
    flex-direction: row;
}
.logo1{
    color: #FE4A51;
}

.menu_option{
    display: flex;
    flex-direction: row;
    align-items: center;

}

.menu_op{
    margin: 0 25px 0 25px;
}

.search{
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 135px;
    height: 38px;
}

.inputSearch{
    width: 82px;
    height: 12px;
    font-size: 10px;
    border: 0;
}

.plato{
    max-width: 285px;
    max-height: 230px;
}

.mexican{
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between  ;
    flex-direction: column ;
    width: 529px;
    height: 264px;
}

.mexicanText{
    font-size: 72px;
    text-align: center;
    line-height: 100.9%;
}
.mexStatsCont{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 341px;
    height: 16px;
}
.mexStat{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}
.MexButton{
    width: 124px;
    height: 38px;
    font-weight: 500;
    font-size: 14px;
    line-height: 100.9%;
    background-color: #FE4A51;
    color: white;
}
.images img{
    clip-path: inset(8px);
}