 #root *{
    /* border:1px solid red; */
    margin:0;
    padding: 0;
    box-sizing: border-box;
}


.MostPopularRecipes{
    width: 870px;
    height: 820px;
    display: flex;
    flex-direction: column;
    /* align-items:stretch; */
    justify-content: space-between;
}
.mostPopular_text{
    font-weight: bold;
    font-size: 36px;
    line-height: 100.9%;
    width: 870px;
}


.RecipesCont{
    
    height: 662px;
    width: 870px;
    display: grid;
    grid-template: 1fr 10px 1fr/ 1fr 10px 70px 10px 1fr;
    
}
.rc1{
    grid-column-start: 1;
    grid-column-end:4 ;
    grid-row-start: 1;
    grid-row-end: 2;
    background-image: url("https://i83.servimg.com/u/f83/20/31/79/72/image10.png");
    background-size: cover;
}
.rc2{
    grid-column-start: 5;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 2;
    background-image: url('https://i83.servimg.com/u/f83/20/31/79/72/image_10.png');
    background-size: cover;
}
.rc3{
    grid-column-start: 1;
    grid-column-end:2;
    grid-row-start: 3;
    grid-row-end: 4;
    background-image: url('https://i83.servimg.com/u/f83/20/31/79/72/image_11.png');
    background-size: cover;
}
.rc4{
    grid-column-start: 3;
    grid-column-end:6;
    grid-row-start: 3;
    grid-row-end: 4;
    background-image: url('https://i83.servimg.com/u/f83/20/31/79/72/rectan10.png');
    background-size: cover;
}

.Recipe{
    /* color: white; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column ;
}

.ContText{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 72px;
}

.RecipeName{
    font-weight: bold;
    font-size: 20px;
    line-height: 100.9%;
    color: white;
}

.StatsCont{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 252px;
    height: 12px;
}
.Stat{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: 12px;
    line-height: 100.9%;
    text-align: center;
    color: white;
}

.pagesCont{
    display: flex;
    align-items: center;
    justify-content: center;
}

.pages{
    display: flex;
    flex-direction: row;  
    align-items: center;
    justify-content: space-between;  
    width: 111px;
    height: 26px;
    font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 108.9%;
/* or 26px */

text-align: center;
}

.n1{
    color:  #FE4A51;
}

